doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		div(style='display:inline-block')
			img(src='../../images/RBlogo.jpg')
			a(href='/', style="margin-bottom: 5rem") Home
			|
			|
			a(href='/users/login', style="margin-bottom: 5rem") Login
			|
			|
			a(href='/users/register', style="margin-bottom: 5rem") Register
			
			//- a(href='/dbInput', style="margin-bottom: 5rem") Input Data
			//- |
			//- |
			//- a(href='/dbSearch', style="margin-bottom: 5rem") Search Database
			//- |
			//- |
			//- a(href='/dbEdit', style="margin-bottom: 5rem") Edit Database
			//- |
			//- |
			//- a(href='/dbEditAndrea', style="margin-bottom: 5rem") Edit Database(Andrea)
			//- |
			//- |
			//- a(href='/autoEmail', style="margin-bottom: 5rem") Auto Email
			//- |
			//- |
			
			//- a(href='/autoEmailAndrea', style="margin-bottom: 5rem") Auto Email(Andrea)
			
		br
		br