doctype html
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include partials/header.pug
        h3= 'CSV SAVED - Please use navigation panel above to continue.'