body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin-left: 5px;
  margin-right: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input,
label {
  display: block;
}

.input-field-1 {
  float: left;
  margin-left: 3rem;
}

.input-unit-1 {
  margin-bottom: 0.5rem;
}

.input-label-1 {
  font-weight: bold;
}

/* .rslt-tbl-1 {
  float: left;
  margin: 3rem 0 0 3rem;
} */

.rslt-tbl-1 {
  float: left;
  margin-left: 3rem;
  max-width: 1000px;
}

.row-hilite-toggle {
  background-color: #99ccff !important;
}
